body {
	 background: #f9f9f4; 
	 margin: 0;
	 font-size: 14px;
	 font-family: verdana, sans-serif;
}

#content {
	width: 90%;
	margin: 0 auto 1em auto;
}

a {
	color: black;
}

h1 {
	font-family: "lao mn", verdana, sans-serif;
	font-size: 2.8em;
	text-align: center;
	color: #575354;
	width: 80%;
	margin: .75em auto .5em auto;
}

h3 {
	text-align: left; 
	color: #f58220;
}

a img {
	text-decoration: none;
	border: none;
}

#navigation {
	background: #ffffff;
	list-style: none;
	text-align: center;
	margin: 0 auto 1em auto;
	
	border-bottom: 2px solid #575354;
	
	font-size: 14px;
	font-weight: bold;
}
#navigation li {
	display: inline;
}
#navigation li a {
	padding: .5em 2em 1.5em 2em;
	display: inline-block;
	color: gray;
}
#navigation li a img {
    vertical-align: bottom;
}
#navigation li a:hover {
	text-decoration: none;
}
#navigation li a:active {
	color: #231f20;
}
#navigation li.selected a {
	color: #231f20;
	text-decoration: none;
}
/* page 375-376 */

#workshops {
	padding-left: 0;
	line-height: 2em;
}
.column {
	width: 29%;
	float: left;
	margin: 1%;
	padding: 1%;
}
.column.fork {
	width: 60%;
}
.profile {
	width: 19%;
	float: left;
	margin-right: 20px;
	padding: 1%;
	padding-left: 2%;
}
.profile img {
	-moz-box-shadow: 0 0 5px #777777;
	-webkit-box-shadow: 0 0 5px #777777;
	box-shadow: 0 0 5px #777777;
}
h4.name {
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.1em;
}
h5.role {
	font-size: 12px;
	color: #f58220;
	padding-top: 0; 
	margin-top: 0;
}

#neighbors li a {
	color: black;
}

.clear {
	clear: both;
}

#galleria { 
    width: 700px; 
    height: 500px; 
    background: #000;
}

.footer {
	background: #fff url("media/satinweave.png");
	border-top: 2px solid #575354;
	padding: 0 5% 0 8%;
	color: #445060;
	font-size: .8em;
}
.footer h3 {
	color: #445060;
	font-size: 1em;
}
.contact ul {
	list-style: none;
}
.inset {
	background-color: rgba(0,0,0,.075);
	padding: 1em;
	border: 1px solid rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 5px #777777;
	-webkit-box-shadow: 0 0 5px #777777;
	box-shadow: 0 0 5px #777777;
}
.media {
	float: left;
	margin-right: 3%;
}
.calendar {
	text-align: center;
}
.column.twothirds {
	width: 55%;
}
.social ul {
	list-style: none;
	padding: 0;
}
.social li {
	display: inline
}
.contact ul {
	padding: 0;
}
.twothirds {
	padding-left: 5%
}